[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-environ = "*"
psycopg2-binary = "*"
django-extensions = "*"
uvicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
